<%= form_for(@input) do |f| %>
  <% if @input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
      <% @input.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :team_id, :value => @team_id %>
  <%= f.hidden_field :answer_id, :value => @answer_id %>

  <div class="field form-group">
    <%= f.label '回答' %><br>
    <%= f.text_area :text, rows: 8, class: 'form-control', placeholder: '回答を入力' %>
  </div>
  <div class="actions">
    <%= f.submit '回答を送信', class: 'btn btn-primary' %>
  </div>
<% end %>
