<p id="notice"><%= notice %></p>

<%= form_tag({ controller: :inputs, action: :new }, { method: 'get' }) do %>
  <%= collection_select(:team, :id, Team.all, :id, :name) %>
  <%= collection_select(:answer, :id, Answer.all, :id, :head_text) %>
  <%= submit_tag('回答ページへ') %>
<% end %>

<hr>

<h1>Listing Inputs</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Total Time</th>
      <th>Time</th>
      <th>Miss</th>
      <th>Team</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inputs.each do |input| %>
      <tr>
        <td><%= input.text %></td>
        <td><%= input.total_time.hour %>分<%= input.total_time.min %>秒</td>
        <td><%= input.time.hour %>分<%= input.time.min %>秒</td>
        <td><%= input.penalty_count %></td>
        <td><%= input.team.name %></td>
        <td><%= input.answer.id %></td>
        <td><%= link_to 'Show', input %></td>
        <td><%= link_to 'Edit', edit_input_path(input) %></td>
        <td><%= link_to 'Destroy', input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
