<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @input.text %>
</p>

<p>
  <strong>Total Time:</strong>
  <%= @input.total_time.hour %>分<%= @input.total_time.min %>秒
</p>

<p>
  <strong>Time:</strong>
  <%= @input.time.hour %>分<%= @input.time.min %>秒
</p>

<p>
  <strong>Miss:</strong>
  <%= @input.penalty_count %>
</p>

<p>
  <strong>Team:</strong>
  <%= @input.team.name %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @input.answer.id %>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
